
.App {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App[data-theme='dark'] {
  background-color: #121212;
  color: #fff;
}

.App[data-theme='light'] {
  background-color: #fff;
  color: #000;
}
.themeIcon{
 align-items: right;
}